<!DOCTYPE>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/tranan.css" />
    <title>Crane's</title>
</head>
<body>



<div id="header">
<img src="./img/Logo4newcopi.png" width="50%" height="460%">


</div>




<div id="menu">
    <ul>
        <li class="button"><a href="tranan.html">Hem</a></li>
        <li class="button"><a href="Evenemang.html">Evenemang</a></li>
        <li class="button"><a href="meny.html">Meny</a></li>
        <li class="button"><a href="kontakta.html">Kontakt</a></li>
        <li class="button"><a href="boka.html">Boka</a></li>
    </ul>
</div>
<div id="logobox">
</div>
<div id="stuff"></div>
<div id="fp-images"></div>
<div id="opening"></div>

<div id="container">
    <%= yield %>
</div>


<div id="Eppning">
<h2> Öppetider</h2>
    <p>00:01 - 23:59</p>
    <p>OBS! stängt på Tisdagar!</p>
</div>
</body>
</html>